:root {
    --dark-jungle-green: #162521;
    --charcoal: #3C474B;
    --steel-blue: #4F7CAC;
    --middle-blue-green: #9EEFE5;
    --powder-blue: #C0E0DE;
}

.lrg-icon {
    width: 75px;
}

.icon {
    width: 50px;
}